

  .dropdown-item {
    color: white;
  }
  @media (max-width: 576px) {
    /* Styles for extra small screens */
    .aboutimg {
      width: 200px;
    }
    #a-bout {
      width: 100%;
      margin-left: 0;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    /* Styles for small screens */
    .aboutimg {
      width: 250px;
    }
    #a-bout {
      width: 100%;
      margin-left: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    /* Styles for medium screens */
    .aboutimg {
      width: 300px;
    }
    #a-bout {
      width: 70%;
      margin-left: 15%;
    }
  }
  
  .nav-item .dropdown-menu{
    background-color: transparent;
    color: white;
  }
  .nav-item  .nav-link {

    padding: 10px;
    font-size: 30px;
    margin: 10px;
    color: #ffffff !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    }
  .navbar-brand 
  {
    color: #ffffff !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
 
  
  .nav-link {
    text-align: left;
  }
  body {
    background: linear-gradient(to bottom, rgb(47, 5, 105), rgb(12, 2, 36));
  }
  h1 {
    color: white;
  }
.a:hover {
  text-decoration: none;
  color: white;
}